version: '3.8'

services:
  gateway:
    volumes:
      - ./Notification.Gateway:/src/Notification.Gateway
      - ./Notification.Contracts:/src/Notification.Contracts
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_USE_POLLING_FILE_WATCHER=true
    develop:
      watch:
        - action: rebuild
          path: ./Notification.Gateway
        - action: rebuild
          path: ./Notification.Contracts

  email-service:
    volumes:
      - ./Notification.EmailService:/src/Notification.EmailService
      - ./Notification.Contracts:/src/Notification.Contracts
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_USE_POLLING_FILE_WATCHER=true
    develop:
      watch:
        - action: rebuild
          path: ./Notification.EmailService
        - action: rebuild
          path: ./Notification.Contracts

  sms-service:
    volumes:
      - ./Notification.SmsService:/src/Notification.SmsService
      - ./Notification.Contracts:/src/Notification.Contracts
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DOTNET_USE_POLLING_FILE_WATCHER=true
    develop:
      watch:
        - action: rebuild
          path: ./Notification.SmsService
        - action: rebuild
          path: ./Notification.Contracts